@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Noto Serif", serif;
  --font-body: "Plus Jakarta Sans", sans-serif;
}

@layer base {
  body {
    @apply font-body bg-[#f9f6f5] text-[#2f2e2e];
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
